<h1>Bias</h1>

<form action: method:"get">
  News Sources:<br>
  <select name="Newsources">
  <option value="CNN">CNN</option>
  <option value="RT">RT</option>
  <option value="FOX">FOX</option>
  <option value="CBC">CBC</option>
</select>
  <br><br>
  Search Subject:<br>
  <input type="text" name="lastname">
  <input type="submit" value="Submit">
</form>


  <p> Sentiment score: <%= @sentiment_score %> </p>
  <p> Sentimwent type: <%= @sentiment_type %>  </p>


  <p> Titles <%= @titles %>  </p>